################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/.vs/Fraemwork/v16
/Fraemwork/x64/Debug
